html
  head
    script(src="/libs/systemjs/dist/system.src.js")

    script(src="/libs/angular2/bundles/angular2.dev.js")
    script(src="/libs/angular2/bundles/router.dev.js")

    script.
      System.config({
        packages: {'app': {defaultExtension: 'js'}}
      });

      System.import('app/bootstrap').catch(console.log.bind(console));


  body
    hello-world



